{% extends 'base.html' %}

{% block title %} Square Frames| About us
{% endblock title %}


{% block body %}
<section style="box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19);"> 
<div class="container-fluid text-center mt-0 mb-2 bg-dark" >
<img src="static/best-about-us-pages.png" alt="..." class="img-fluid" style="box-shadow: 0 0 5px 5px white inset;">

</section>
<div class="py-5 container mt-3 bg-light">
  <div class="container bg-light">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center">
        <h3 class="mb-3">Experienced & Professional Team</h3>
        <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
      </div>
    </div>
    <div class="row" style="box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
      <!-- column  -->
      <div class="col" >
          <div class="col">
            <div class="row">
          <div class="col">
            <img src="static/snapbook/PSX_20200221_210636.jpg" alt="..." class="img-fluid">
          </div>
         
        </div>
          </div>
          </div>
          <div class="col" style="background-color:#F9F5E3;">
              <h1 class="mt-4 font-weight-bold mb-0">Satyen Sunil Deshpande</h1>
              <h6 class="subtitle">Photographer and Web Developer</h6>
              <p>I am currently persuing BE in Computer Engineering<br>
              Age- 20<br>
              Hobby- Photography, Travelling</p> 
          </div>
        </div>
        <!-- Row -->
    </div>
  </div>

  <div class="py-5 container mt-4 bg-light">
  <div class="container bg-light">
   
    <div class="row" style="box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
      <!-- column  -->
      <div class="col" style="background-color:#F9F5E3;">
          <div class="col" >
            <div class="row">
          <div class="col" >
           <h1 class="mt-4 font-weight-bold mb-0">Sarthak Shinde</h1>
              <h6 class="subtitle">Web Designer</h6>
              <p>I am currently persuing BE in Computer Engineering<br>
              Age- 20<br>
              Hobby- Music listening, cycling, Designing</p> 
            
          </div>
         
        </div>
          </div>
          </div>
          <div class="col">
              <img src="static/8d4e13fe-7835-4d44-bae5-68ef647d219d.jpg" alt="..." class="img-fluid">
          </div>
        </div>
        <!-- Row -->
    </div>
  </div>

  <div class="py-5 container mt-4 bg-light">
  <div class="container bg-light">
   
    <div class="row" style="box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
      <!-- column  -->
      <div class="col" >
          <div class="col">
            <div class="row">
          <div class="col">
            <img src="static/snapbook/20191004153637_IMG_6925.jpg" alt="..." class="img-fluid">
          </div>
         
        </div>
          </div>
          </div>
          <div class="col" style="background-color:#F9F5E3;">
          <h1 class="mt-4 font-weight-bold mb-0">Raj Mhatre</h1>
              <h6 class="subtitle">Research Specialist</h6>
              <p>I am currently persuing BE in Computer Engineering<br>
              Age- 20<br>
              Hobby- Travelling, Exploring</p> 
            
             
          </div>
        </div>
        <!-- Row -->
    </div>
  </div>

<div class="container text-center mt-2">
<h2>Special Thanks</h2>
</div>
<div class="container mt-1">
  <div class="media">
  <img src="static/amey.png" class="mr-3" alt="..." name="up">
  <div class="media-body">
    <h5 class="mt-0">Amey Akole</h5>
    Thank you for being constant companion in photography trips and look forward to same forever.

    <div class="media mt-4">
      <a class="mr-3" href="#">
        <img src="static/kamran.png" class="mr-3" alt="...">
      </a>
      <div class="media-body">
        <h5 class="mt-0">Kamran Lambate</h5>
       Thank you for providing designing support whenever needed and look forward to same forever.
      </div>
    </div>
  </div>
</div>
</div>
{% endblock body %}
