{% extends 'base.html' %}

{% block title %} Square Frames | Bird Photography
{% endblock title %}


{% block body %} 
.container text-center .album py-5 bg-light .container-fluid .row .col-md-4 .card mb-4 box-shadow:hover .card-img-top{
  transform: scale(1.2);
}

<div class="jumbotron jumbotron-fluid" style=" background-image:url(static/nature-solo-plants-leaves-wallpaper-preview.png); background-size: 100%;  box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2), 8px 6px 20px 8px rgba(0, 0, 0, 0.19)" name="up">
  <div class="container">
    <h1 class="display-4 text-white"><br>Birds Photography</h1>
    <p class="lead text-white">Witness the beauty on Earth </p>
  </div>
</div>

<div class="container text-center" >
<p style="text-shadow: 2px 2px rgba(0,0,0,0.2);">If you want any of photos for printing purpose, now you can simply buy for free! </p>
</div>
<div class="album py-5 bg-light">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;  box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)" src="static/snapbook/PSX_20200614_163025.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><b>Red-naped ibis</b><br>The red-naped ibis also known as the Indian black ibis or black ibis is a species of ibis found in the plains of the Indian Subcontinent. Unlike other ibises in the region it is not very dependent on water and is often found in dry fields a good distance away from water.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 1</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200614_162009.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Red-wattled lapwing</b><br>The red-wattled lapwing is an Asian lapwing or large plover, a wader in the family Charadriidae. Like other lapwings they are ground birds that are incapable of perching.</p>
                  <div class="d-flex justify-content-between align-items-center">
                   <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 2</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200614_163747.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Ashy prinia or Ashy wren-warbler</b><br>The ashy prinia or ashy wren-warbler is a small warbler in the family Cisticolidae. This prinia is a resident breeder in the Indian Subcontinent, ranging across most of India, Nepal, Bangladesh, Bhutan, Sri Lanka and western Myanmar.</p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 3</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/IMG_20200609_120344.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Dragonfly</b><br>A dragonfly is an insect belonging to the order Odonata, infraorder Anisoptera. Adult dragonflies are characterized by large, multifaceted eyes, two pairs of strong, transparent wings, sometimes with coloured patches, and an elongated body.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 4</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/yellowdragonfly.png" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Long-legged marsh glider</b><br>The long-legged marsh glider is a medium-sized yellowish brown dragonfly with long legs. In males, the face is yellow or pale brown in front and iridescent purple above. The eyes are colored reddish brown above, brown on sides and bluish grey below. The thorax is olivaceous brown above with a dark brown triangle.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 5</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200610_214755.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Crocothemis erythraea</b><br>Crocothemis erythraea is a species of dragonfly in the family Libellulidae. Its common names include broad scarlet, common scarlet-darter, scarlet darter and scarlet dragonfly.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 6</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190509_204321.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Common nightingale</b><br>The common nightingale, rufous nightingale or simply nightingale, is a small passerine bird best known for its powerful and beautiful song. It was formerly classed as a member of the thrush family Turdidae, but is now more generally considered to be an Old World flycatcher, Muscicapidae.</p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 7</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200508_210120.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Desert sparrow</b><br>The desert sparrow (Passer simplex) is a species of bird in the sparrow family Passeridae, found in the Sahara Desert of northern Africa. A similar bird, Zarudny's sparrow, is found in Central Asia and was historically recognised as a subspecies of the desert sparrow, but varies in a number of ways and is now recognised as a separate species by BirdLife International,</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 8</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190509_203642.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Common blackbird</b><br>The common blackbird is a species of true thrush. It is also called the Eurasian blackbird, or simply the blackbird where this does not lead to confusion with a similar-looking local species. It breeds in Europe, Asiatic Russia, and North Africa, and has been introduced to Australia and New Zealand.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 9</small>
                  </div>
                </div>
              </div>
            </div>
             <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200613_121844.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Asian koel</b><br>The Asian koel is a member of the cuckoo order of birds, the Cuculiformes. It is found in the Indian Subcontinent, China, and Southeast Asia. It forms a superspecies with the closely related black-billed koels, and Pacific koels which are sometimes treated as subspecies.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 10</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<h6 class="text-center">You can checkout more photos on instagram handel @passionatephotographys Thankyou!</h6>

{% endblock body %}

