{% extends 'base.html' %}

{% block title %} Square Frames | Home
{% endblock title %}


{% block body %} 

<div class="container-fluid px-0 mt-0">
      <img src="static/PHOTOGRAPHY11.png" class="d-block w-100" alt="...">
</div>

<div class="carousel-item">
  <img src="..." alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>...</h5>
    <p>...</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-2 mb-2 my-2 bg-dark" style=" color:#fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <div class="container">
    <h2 class="display-4 text-center"><b>-- Achivements --</b></h2>
  </div>
</div>

<section>
<div  class = "container-fluid mt-10 py-6 text-center" style="background-color:#050404; color:#fff" class="page-header ">
<div class="row">
<div class= "col-sm-6">
  <br><h3><br><br><br>Photography competition in MGM College (winner) </h3> <br> 
 <h6>Navi-Mumbai </h6> <br> 
 <h4>Theme - Corona Pandemic (indoor photography)</h4> <br><br><br>
</div>
<div class="col-sm-6">
<img src="static/snapbook/PSX_20200509_140329.jpg" alt="..." class="img-thumbnail">
</div>
</div>
</div>

<div class="jumbotron jumbotron-fluid my-0">
  <div class="container">
    
  </div>
</div>

<div  class = "container-fluid mt-10 py-6 text-center" style="background-color:#D8D78F; color:##C0C0C0" class="page-header ">
<div class="row">
<div class="col-sm-6">
 <h3> <br><br><br> <br><br><br>Photography competition in Bharti Vidyapeeth (winner) </h3> <br> 
 <h6>Navi-Mumbai </h6> <br> 
 <h4>Theme - Light in Dark (indoor photography)</h4> <br>
</div>
<div class="col-lg-6">
<img src="static/snapbook/PicsArt_08-18-12.26.55.jpg" alt="..." class="img-thumbnail">
</div>
</div>
</div>
<div class="jumbotron jumbotron-fluid my-0">
  <div class="container">
    
  </div>
</div>
<div  class = "container-fluid mt-10 py-6 text-center" style="background-color:#F9F5E3; color:#050404" class="page-header ">
<div class="row">
<div class="col-sm-6">
  <h3><br><br><br><br>Photography competition in Rotract club of Bharti Vidyapeeth (most creative pic) </h3> <br> 
 <h6>Pune </h6> <br> 
 <h4>Theme - Nature</h4> <br>
</div>
<div class="col-sm-6">
<img src="static/snapbook/IMG_20181002_091943_546.jpg" alt="..." class="img-thumbnail bordercolor-black">
</div>
</div>
</section>


{% endblock body %}
