{% extends 'base.html' %}

{% block title %} Square Frames | Landscape Photography
{% endblock title %}


{% block body %} 

<div class="jumbotron jumbotron-fluid py-4" style="background-image:url(static/firewatch-4k-widescreen-desktop-wallpaper-421-428-hd-wallpapers.png); background-size: 100%;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)" name="up">
  <div class="container">
    <h1 class="display-4 text-white"><br>Landscape Photography</h1>
    <p class="lead text-white">Witness the beauty on Earth </p>
  </div>
</div>

<div class="container text-center" >
<p style="text-shadow: 2px 2px rgba(0,0,0,0.2);">If you want any of photos for printing purpose, now you can simply buy for free! </p>
</div>

<div class="album py-5 bg-light">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)" src="static/snapbook/PicsArt_05-17-12.06.45.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Ability is what you are capable of doing. Motivation determines what you do. Attitude determines how well you do it.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 1</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190505_213438.jpg" data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Sunrise looks spectacular in the nature; sunrise looks spectacular in the photos; sunrise looks spectacular in our dreams; sunrise looks spectacular in the paintings; because it really is spectacular!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 2</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190509_204202.jpg" data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Faith is the bird that feels the light when the dawn is still drak.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 3</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190515_155059.jpg" data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>To live is to experience the things not sit arround pondering the meaning of life.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 4</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190801_141202.jpg" data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Sunsets are most significant ornam,ental factor of the nature.</p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 5</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20191227_230955.jpg " data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Time Flows Away Like the Water in the River. When you do things from your soul, you feel a river moving in you, a joy. I would love to live like a river flows, carried by the surprise of its own unfolding. You can't argue with a river – it is going to flow.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 5</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200504_160219.jpg" data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Many call this process "the destruction of nature". But it's not really destruction, it's change. Nature cannot be destroyed</p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 6</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200608_201941.jpg" data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Choose only one master - Nature.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 6</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200511_203707.jpg" data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Darkness cannot drive out darkness: only light can do that. Hate cannot drive out hate: only love can do that.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 7</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200524_195406.jpg" data-holder-rendered="true" style="height: 275px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Airial shot in Roha.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 8</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<h6 class="text-center">You can checkout more photos on instagram handel @passionatephotographys Thankyou!</h6>

{% endblock body %}

