{% extends 'base.html' %}

{% block title %} Square Frames | Portfolio
{% endblock title %}


{% block body %} 

<div class="jumbotron jumbotron-fluid" style="background-image:url(static/Android-Lollipop-wallpapers-5.jpg); background-size: 100%;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
  <div class="container">
    <h1 class="display-4 text-white"><br>Portfolio Photography</h1>
    <p class="lead text-white">Witness the beauty on Earth </p>
  </div>
</div>

<div class="container text-center" >
<p style="text-shadow: 2px 2px rgba(0,0,0,0.2);">If you want any of photos for printing purpose, now you can simply buy for free! </p>
</div>

<div class="album py-5 bg-light">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)" src="static/snapbook/PSX_20190422_120429.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 1</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/IMG_20190502_165211.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 2</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200613_230347.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 3</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190414_201006_1556258787809.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 4</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190414_200829.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 5</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190414_201208.jpg " data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 5</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190521_202408.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 6</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190521_201700.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 6</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190521_193831.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 7</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190521_193349.jpg" data-holder-rendered="true" style="height: 400px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 8</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<h6 class="text-center">You can checkout more photos on instagram handel @passionatephotographys Thankyou!</h6>

{% endblock body %}

