{% extends 'base.html' %}

{% block title %} Square Frames | Still Life Photography
{% endblock title %}


{% block body %} 

<div class="jumbotron jumbotron-fluid" style="background-image:url(static/25-black-wallpaper.png); background-size: 100%;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
  <div class="container">
    <h1 class="display-4 text-white"><br>Still life Photography</h1>
    <p class="lead text-white">Witness the beauty on Earth </p>
  </div>
</div>

<div class="container text-center" >
<p style="text-shadow: 2px 2px rgba(0,0,0,0.2);">If you want any of photos for printing purpose, now you can simply buy for free! </p>
</div>

<div class="album py-5 bg-light">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)" src="static/snapbook/PSX_20200612_235648.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Its true technology and information is wiping the naturein this age but for the long term and effective results technology and nature both have to go hand in hand togethar always.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 1</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20180913_085341.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>A person with better vision and better communication can rule over the world!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 2</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190505_213558.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Essential components together..</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 3</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190505_214355.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>A wise traveller never despises his own country.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 4</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190509_203156.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Be like a train: go in rain, go in sun, go in strom, go in dark tunnels! Be like train; concentrate on your road and go with hesitation!</p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 5</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190509_202927.jpg " data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>We will build new roads, and highways, and bridges, and airports, and tunnels, and railways all across our wonderful nation. There is nothing in machinery, there is nothing in embankments and railways and iron bridges and engineering devices to oblige them to be ugly.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 6</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190507_190610.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>He who studies books alone will know how things ought to be, and he who studies men will know how they are.</p>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 7</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190510_083905.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>By three methods we can learn wisdom: First, by reflection, which is nobelest; Second, by imitation, which is easiest; Third by experience, which is bitterest.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 8</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190510_084416.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Just because you find one bad apple dosent mean you should give up one whole tree.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 9</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20190510_153743.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>An apple a day keeps corona away!.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 10</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200526_132515.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>Are you prepared to look through new eyes or at least changed lens?</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 11</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="static/snapbook/PSX_20200612_181331.jpg" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.2), 8px 6px 20px 4px rgba(0, 0, 0, 0.19)">
                <div class="card-body">
                  <p class="card-text"><b>Shot in India</b><br>The water in the stream may have changed many times, byt the reflection of the shells and the stones remains the same.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="buybird"><button type="button" class="btn btn-sm btn-outline-secondary">Buy for free!</button></a>
                    </div>
                    <small class="text-muted">ID number - 12</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<h6 class="text-center">You can checkout more photos on instagram handel @passionatephotographys Thankyou!</h6>


{% endblock body %}

