{% extends 'base.html' %}

{% block title %} Square Frames | Home
{% endblock title %}


{% block body %} 

<div class="jumbotron jumbotron-fluid bg-dark" style=" color:#fff">
  <div class="container">
    <h1 class="display-4"><br>Welcome to Square Frames</h1>
    <p class="lead">Witness the beauty on Earth </p>
  </div>
</div>

<div class="container" style="color:#635D53">
<h1>How can you get upload your photo at Square Frames site?</h1><br>
<p><b><h4>If you want to upload photos less than 10- </h4></b>
Mail us at <b>squareframes@gmail.com</b> <br>
In the mail also specify wheather you want to tag your credit with photo/s, if yes, add credit details.<br><br>
<h4><b>If you want to upload photos more than 10-</b></h4>
Fill the contact us form our team will reach you for further process. </p>
<a href="contactus"><button type="button" class="btn btn-dark">Contact us</button></a>
</div>


{% endblock body %}

