.custom-shape-divider-top-1599226794 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1599226794 svg {
    position: relative;
    display: block;
    width: calc(225% + 1.3px);
    height: 150px;
}

.shape-fill {
    fill: #6E6A6A;
}

.nav-item:hover{
    background-color: khaki;

}