{% extends 'base.html' %}

{% block title %}
Diet Plan | Golden Agers
{% endblock title %}

{% block body %}

<div class="jumbotron diet jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Diet Plan For You!</h1>
    <p class="lead">One must eat to live, not live to eat.</p>
  </div>
</div>

<div class="container-fluid dietbg py-4 px-4 mt-0">
<div class="container dietbg">
<h1> Diet plan for 40-50 age group :</h1>
<p>
<b>Basic Diet Guidelines</b><br>
When you hit 40, you don't get to eat as many calories as you did in your 20s. This means you have even less room for unhealthy choices. Calorie needs vary depending on activity, but in general men between 40 and 50 need 2,200 to 3,000 calories a day.
<br><br><b>Energize With a Good Breakfast</b><br>
Whole grains are a good way to energize your day. Plus, the fiber in whole grains may help lower your risk of colon and prostate cancer, according to the Academy of Nutrition and Dietetics. A healthy breakfast option might include a bowl of unsweetened whole-grain cereal topped with fresh fruit such as a banana or blueberries with nonfat milk, or a breakfast sandwich made with a whole-wheat English muffin, scrambled eggs made with two egg whites and one egg yolk and a slice of low-fat cheese. Serve the sandwich with sliced cantaloupe and a cup of nonfat milk.
<br><br><b>Load Up on Fruits and Vegetables at Lunch</b><br>
Fruits and vegetables are low in calories and loaded with nutrients that help fight disease. You need a minimum of 4 1/2 servings of fruits and vegetables a day but should aim for nine.
<br><br><b>Meat as a Side Dish at Dinner</b><br>
Eating too much meat increases your risk of heart disease and colon cancer, says the Academy of Nutrition and Dietetics. To help you cut back, make meat a side dish and turn your vegetable and whole grains into the main attraction. For example, a healthy dinner might include a large baked potato with grilled asparagus and a side of grilled beef tenderloin.

</p>
</div>
</div>
{% endblock body %}