{% extends 'base.html' %}

{% block title %}
Diet Plan | Golden Agers
{% endblock title %}

{% block body %}

<div class="jumbotron diet jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Diet Plan For You!</h1>
    <p class="lead">One must eat to live, not live to eat.</p>
  </div>
</div>

<div class="container-fluid dietbg py-4 px-4 mt-0">
<div class="container dietbg">
<h1> Diet plan for 50-60 age group :</h1>
<p>
<b>Maintain healthy weight and muscle strength</b><br> through physical activity. The benefits of walking for older people]. It’s been shown people over 65 years often have better health if they carry a little extra weight and have a slightly higher body mass index. Talk to your healthcare professional if you need to lose or gain weight. 
<br><br><b>If you’re on a budget, simply do your best with your food choices</b> <br>Plan well, use what’s available, and buy only what you need. Look out for quick and easy healthy recipes for one or two people, and try to eat regularly with family and friends if possible. 
<br><br><b>Be careful with your teeth</b><br> If nuts, grains and hard fruits and vegetables are difficult to chew, try milled wholegrains, soft cooked and canned fruits and vegetables, and nut pastes and butters.
<br><br><b>Prepare and store food safely</b><br> Follow food safety guidelines [https://www.betterhealth.vic.gov.au/health/healthyliving/food-safety-storage] to avoid food-borne illnesses which can be particularly bad for older people.
<br><br><b>Limit your intake of foods containing saturated fats and trans fats</b><br> Remember those ‘extras’ or ‘sometimes foods’ referred to in the guidelines? Keep those to a minimum. Foods like pies, pastries, fried and battered foods, chips, and chocolate are generally high in saturated fat, and may contain dangerous trans fats. Eat these foods very occasionally. Fresh fruit with reduced fat yoghurt is a good dessert option, or cakes and crumbles made with wholegrain options, like oats.
<br><br><b>Talk to your doctor about your personal health needs</b><br> particularly about how best to apply the dietary guideline that says to limit saturated fats, added salt, and added sugars (above). Some older people may be at risk of malnutrition from restricting their food intake, and eat too few nutrients and kilojoules for their age. 
<br><br><b>Eat plenty of fibre and drink plenty of fluids</b><br> Water is essential for hydration, digestion and blood volume, but now you’re older, you may not feel as thirsty as you once did, even when your body needs fluids. Try to drink water about 6–8 cups of fluid a day, and more in warmer weather or when exercising. Water is your best bet for hydration, but tea, coffee, mineral and soda water, and reduced fat milk count too. High fibre foods and plenty of fluids will help to move slow bowels.
<br><br><b>Use less salt. Everyone needs some salt</b><br> but too much can increase your risk of high blood pressure and heart disease. Watch your intake of high salt foods, such as cured meats (ham, corned beef, bacon, lunch meats etc.), snack foods (potato chips and savoury pastries etc.), and sauces (soy sauce, for example). Choose reduced salt food when shopping, and flavour your cooking with herbs and spices instead of salt. 
<br><br><b>Watch your alcohol intake</b><br> Follow Australian guidelines if you drink: no more than two standard drinks on any given day for healthy men and women. 
<br><br><b>Get your vitamins and minerals</b><br> If you eat less or have digestive issues, you may be deficient in some important vitamins and minerals. Speak to your doctor about your levels, and always choose a variety of foods from the five food groups.  
<br><br><b>Fish is your friend</b><br> Regularly consuming fish may reduce your risk of heart disease, stroke, dementia, and macular degeneration (a type of vision loss). Eating fish twice a week is wise.

</p>
</div>
</div>
{% endblock body %}