{% extends 'base.html' %}

{% block title %}
Diet Plan | Golden Agers
{% endblock title %}

{% block body %}

<div class="jumbotron diet jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Diet Plan For You!</h1>
    <p class="lead">One must eat to live, not live to eat.</p>
  </div>
</div>

<div class="container-fluid dietbg py-4 px-4 mt-0">
<div class="container dietbg">
<h1> Diet plan for 60-70 age group :</h1>
<p>
<b>Vitamins and minerals</b><br>
Registered nutritionist, Jo Lewin says, ‘For older adults, vitamins are vital. Various physiological and psychological changes occur as we age, which affect our nutritional requirements. The body becomes less efficient at absorbing and using many vitamins and minerals. Long-term use of prescription drugs can reduce the absorption of certain nutrients. At the same time, many people find that as they get older their appetite decreases. Since the need for vitamins and minerals stays the same, or in some cases increases, it becomes even more important that the food we eat is healthy and nutritious.’Aim to eat a balanced and varied diet, containing at least five portions of fruit and vegetables each day. If cooking fresh fruit and vegetables is an issue, canned or frozen vegetables can be a great alternative as they are often easier to prepare, and are in many cases just as nutritious.
<br><br><b>Include sources of protein</b><br>
Protein is an essential nutrient, allowing our bodies to build and maintain tissue, cells and muscle, make hormones and produce anti-bodies. Studies suggest that as we get older we may benefit from eating more protein because it helps minimise the muscle loss associated with aging.Good sources of protein include meat such as beef and pork, poultry such as chicken and turkey, fish such as salmon and cod, and seafood including prawns. Dairy products such as milk, cheese and yogurt are suitable sources for vegetarians, while vegan sources include beans, nuts, seeds, quinoa, soya and tofu.
<br><br><b>Keep salt levels low</b><br>
Including some salt is important for good health, but eating too many pre-packaged foods may mean we consume too much without realising. Furthermore, our sense of smell and taste may become less acute as we get older, and it can be tempting to add extra salt to our food to compensate. Instead, try using herbs, spices and other strongly flavoured ingredients such as garlic, lemon juice, vinegar or mustard.
<br><br><b>Eat enough fibre</b><br>
Including fibre, also known as roughage, in your diet can help to keep your digestive system healthy and promote regular bowel movements. Make sure that your diet includes a wide variety of fibre-rich foods such as wholegrains, oats, fruits, vegetables, beans and lentils. A small glass of prune juice in the morning may help to alleviate constipation.
If you’re taking medication, talk to your GP before significantly increasing your fibre intake or taking fibre supplements. This is because fibre slows down digestion and may decrease the rate at which your medication is absorbed.
<br><br><b>Stay hydrated</b><br>
It can be easy to forget to drink enough water, but it’s important to aim for around 6-8 glasses or cups a day. The good news is that this doesn’t all have to be plain water – milk, sugar-free drinks and tea and coffee all count, but do bear in mind that caffeinated drinks like tea and coffee can make the body produce urine more quickly.Fruit juice and smoothies also count, but because they contain ‘free’ sugars (the type we are encouraged to cut back on), you should limit these to a combined total of 150ml per day.
<br><br><b>Maintain a healthy weight</b><br>
The number of calories that your body requires may change as you grow older, and depends on a wide range of factors, including your activity levels and metabolism. Eating too many calories may lead to weight gain, while eating too few may lead to weight loss. The NHS have an online BMI healthy weight calculator which may be useful if you’re not sure if your weight is in the healthy range.

</p>
</div>
</div>
{% endblock body %}