{% extends 'base.html' %}

{% block title %}
Diet Plan | Golden Agers
{% endblock title %}

{% block body %}

<div class="jumbotron diet jumbotron-fluid mb-0">
  <div class="container">
    <h1 class="display-4">Diet Plan For You!</h1>
    <p class="lead">One must eat to live, not live to eat.</p>
  </div>
</div>

<div class="container-fluid dietbg py-4 px-4 mt-0">
<div class="container dietbg">
<h1> Diet plan for 80 and above age group :</h1>
<p>
<b>Squeeze in Omega-3s</b><br>

Some nutritionists call it the anti-aging fat: Omega-3s help cells function properly, lower cholesterol, and fight inflammation, and in turn can reduce risk of cancer, heart attack, and stroke. A Journal of Nutrition study found that one omega-3, DHA (found in cold-water, fatty fish), is particularly helpful for maintaining the health of aging brains. Incorporate two 3-ounce servings of salmon, lake trout, herring, or other fatty fish in your weekly diet. Include daily servings of omega-3s from other sources, such as flaxseed, spinach, kale, or walnuts.
<br><br><b>Fill up with fiber</b><br>

The daily recommendation for fiber is 25 to 35 grams per day, but most Americans eat half of that or less. Not a good idea: Fiber may protect against cancer, promote heart health, and keep blood sugar levels steady. In an American Journal of Clinical Nutrition study, researchers found that each additional 10 grams of dietary fiber consumed daily reduced the risk of death from coronary heart disease by 17 
</p>
</div>
</div>
{% endblock body %}