{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block body %}

<p class="lead text-center mt-3">
    <a class="btn btn-primary btn-lg" class="btn-block d-grid gap-2" href="index" role="button">Back</a>
  </p>

<div class="jumbotron jumbotron-fluid mb-0 py-4 px-4" style="background-color: #edf6f9">
  <div class="container">
    <h1 class="display-4">Register Your Shop Here</h1>
    <p class="lead">Enter below details correctly.</p>
  </div>
</div>

<div class="container-fluid py-4 px-4" style="background-color: #edf6f9">
  <div class="container py-4 px-4"
    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: #ffffff">
    <form id="contact-form" name="contact-form" action="/shoperg" method="POST">
    {% csrf_token %}
    <div class="row py-2">
      <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="name" class="">Shop's Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter name of shop here.." required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form mb-0">
          <label for="name" class="">Shopkeeper's Name</label>
          <input type="text" id="sname" name="sname" class="form-control" placeholder="Enter name of shopkeeker here.." required>
        </div>
      </div>
    </div>
    <div class = "row">
            <div class="col-md-6 py-2">
        <div class="md-form mb-0">
          <label for="name" class="">Shop's Phone Number</label>
          <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter shop phone number.." required>
        </div>
      </div>
                  <div class="col-md-6 py-2">
        <div class="md-form mb-0">
          <label for="name" class="">City</label>
          <input type="text" id="city" name="city" class="form-control" placeholder="Enter shop phone number.." required>
        </div>
      </div>
      </div>
      <div class="form-group py-2">
        <label for="exampleFormControlInput1">Shop's Email Address</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com" required>
      </div>
      <div class="col-md-12 py-2">
        <div class="md-form mb-0">
          <label for="name" class="">Shop's Details</label>
          <input type="text" id="shop_details" name="shop_details" class="form-control" placeholder="Enter specialities and offers of your shop here.." required>
        </div>
      </div>
    </form>
                <div class="text-center d-grid gap-2 mt-2 text-md-left">
                <a class="btn btn-primary btn-block" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
  </div>
</div>

{% endblock body %}